.slider {
    margin-top: 120px;

    @include m1() {
        margin-top: 200px;
    }

    @include m2() {
        margin-top: 100px;
    }

    @include m3() {
        margin-top: 200px;
    }
}

.slider-top {

    @include m1() {
        display: flex;
        gap: 20px;
    }

    @include m2() {
        display: flex;
        gap: 30px;
    }
}

.top-controls {
    display: flex;
    align-items: center;
    gap: clamp(5px, 2vw, 10px);
    margin-bottom: 19px;

    
    @include m1() {
        flex-direction: column;
        flex-basis: 25%;
        padding-right: 20px;
        border-right: 1px solid color('orange');
        gap: 24px;
    }

    @include m2() {
        margin-top: 12%;
        align-items: flex-end;
        padding-right: 2%;
    }
}

.top-btn {
    background-color: color("orange");
    border-radius: 40px;
    border: none;
    cursor: pointer;
    display: inline-flex;
    gap: 5px;
    padding: 0.5em 1em;
    color: color("white");
    @include fs24();
}

.top-btn.inactive {
    background-color: color("orange", "disabled");
    align-items: center;
    justify-content: center;
    aspect-ratio: 1/1;
    padding: 10px;
    @include fs16();
    
    .top-label {
        display: none;
    }

    @include m1 (){
        padding: 0.5em 1em;
        aspect-ratio: auto;
        @include fs24();

        .top-label {
            display: block;
        }
    }
}
.swipe-icon {
    background-color: color("gray", "disabled");
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 38px;
        height: 38px;
    }
}
.top-swipe {
    width: 60px;
    height: 60px;
    flex-shrink: 0;

    @include m1() {
        display: none;
    }
}
.params {

    @include fs18(400);

    li {
        margin-block: 0.2em;
    }
}
.top-params {
    display: none;

    @include m1() {
        display: block;
    }

    .params-title {
        @include fs18(bold);
    }
    .params-level {
        margin-top: 0.75em;
    }

    @include m3() {
        margin-top: 2rem;
    }

}

.top-content {

    @include m1() {
        flex-basis: 66%;
    }

    @include m2() {
        display: flex;
        margin-left: auto;
        align-items: flex-start;
        gap: 5%;
        flex-basis: 80%;
    }
}


.top-info {

    @include m2() {
        flex-basis: 40%;
        margin-top: 15%;
    }

}
.top-title {
    margin-bottom: 0.3em;
    @include fs30();

    @include m3() {
        @include fs40();
    }
}
.top-desc {
    @include fs14();

    @include m1() {
        @include fs16();
    }

    @include m2() {
        @include fs18(400);
    }
    
    @include m3() {
        @include fs20(400);
    }
}
.top-images {
    position: relative;

    @include m2() {
        flex-basis: 50%;
        aspect-ratio: 1/1.2;
    }
    
}
.top-marker {
    position: absolute;
    width: 80%;
    height: 60%;
    transform: rotate(10.328deg);
    z-index: -1;
    top: -20%;
    right: -30%;
    img {
        @include image(contain);
    }

    @include m1() {
        width: 60%;
        height: 60%;
        top: 5%;
    }

    @include m2() {
        width: 80%;
        height: 60%;
        top: auto;
        right: auto;
        bottom: -25%;
        left: -25%;
    }
}
.top-image-group {
    margin-top: 50px;
    aspect-ratio: 1/1;

    
    @include m1() {        
        aspect-ratio: 1.7/1;
    }

    @include m2() {
        aspect-ratio: 1/1.2;
    }

}
.top-image {
    overflow: hidden;
    position: absolute;
    width: 60%;
    transition: transform 0.3s ease-in-out,
    z-index 150ms ease-in-out;
    aspect-ratio: 4/5;
    z-index: 2;

    
    img {
        border-radius: 10px;
        @include image(contain);
    }

    @include m1() {
        width: 40%;
    }

    @include m2() {
        width: 65%;
    }


}

.top-image.left-img {
    top: 10%;
    left: 5%;
    z-index: 2;

    
    @include m1() {
        left: 25%;
    }

    @include m2() {
        left: 0%;
        top: 30%;
        transform: rotate(-8deg);
    }
}

.top-image.right-img {
    left: 35%;
    top: 0;
    transform: rotate(15.585deg);
    z-index: 1;

    @include m1() {
        left: 45%;
    }

    @include m2() {
        left:auto;
        right: 8%;
        transform: rotate(0deg);
    }
}

.right-img::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

.top-image-group:has(.right-img:hover) .left-img::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: 5;
    background-color: rgba(0,0,0,0.5);
}

.right-img:hover {
    z-index: 10;
}

.right-img:hover::after {
    content: none;
}


.left-img.animate {
    animation: move-and-revert-left 900ms forwards;
}

.right-img.animate {
    animation: move-and-revert-right 900ms forwards;
}

.top-image-group:has(.right-img:hover) .left-img {
    animation: move-and-revert-left-hover 900ms forwards;
}

.right-img:hover {
    animation: move-and-revert-right-hover 900ms forwards;
}

@keyframes move-and-revert-left {
    0% {
        transform: translate(0, 0) rotate(-8deg); 
    }
    50% {
        transform: translate(-7%, 7%) rotate(-14deg); 
    }
    100% {
        transform: translate(0, 0) rotate(-8deg);
    }
}

@keyframes move-and-revert-right {
    0% {
        transform: translate(0, 0) rotate(0); 
    }
    50% {
        transform: translate(20%, -7%) rotate(14deg); 
    }
    100% {
        transform: translate(0, 0) rotate(0); 
    }
}

@keyframes move-and-revert-left-hover {
    0% {
        transform: translate(0, 0) rotate(-8deg); 
    }
    50% {
        transform: translate(-7%, 7%) rotate(-14deg); 
    }
    100% {
        transform: translate(0, 0) rotate(-8deg);
    }
}

@keyframes move-and-revert-right-hover {
    0% {
        transform: translate(0, 0) rotate(0); 
    }
    50% {
        transform: translate(20%, -7%) rotate(14deg); 
    }
    100% {
        transform: translate(0, 0) rotate(0); 
    }
}