<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Outventure</title>
        <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body>
        <div class="wrapper">
            <div class="slider">
                <div class="slider-top">
                    <div class="top-controls">
                        <button class="top-btn">1 <span class="top-label">Разминка</span></button>
                        <button class="top-btn inactive">2 <span class="top-label">Хайкинг</span></button>
                        <button class="top-btn inactive">3 <span class="top-label">Заминка</span></button>
                        <div class="swipe-icon top-swipe">
                            <img src="assets/images/swipe.png" alt="" />
                        </div>
            
                        <div class="params top-params">
                            <h3 class="params-title">Длительность:</h3>
                            <ul>
                                <li>~60 мин. наверх;</li>
                                <li>~30 мин. вниз.</li>
                            </ul>
                            <h3 class="params-level">Сложность: 2/5</h3>
                        </div>
                    </div>
            
                    <div class="top-content">
                        <div class="top-info">
                            <h2 class="top-title">Разминка. Торгашинский хребет</h2>
                            <p class="top-desc">
                                Спросите сибиряка, что стоит посетить в Красноярске, и он назовёт это место...
                            </p>
                        </div>
                        <div class="top-images">
                            <div class="top-marker">
                                <img src="assets/images/bg/marker-top.png" alt="" />
                            </div>
                            <div class="top-image-group">
                                <div class="top-image left-img">
                                    <img src="assets/images/top/top-1.webp" alt="" />
                                </div>
                                <div class="top-image right-img">
                                    <img src="assets/images/top/top-2.webp" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="params bottom-params">
                        <h3 class="params-level">Сложность: 2/5</h3>
                        <div>
                            <h3 class="params-title">Длительность:</h3>
                            <ul>
                                <li>~60 мин. наверх;</li>
                                <li>~30 мин. вниз.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            
                <div class="slider-bottom">
                    <div class="bottom-images">
                        <div class="bottom-marker">
                            <img src="assets/images/bg/marker-bottom.png" alt="" />
                        </div>
            
                        <div class="bottom-image-group">
                            <div class="bottom-image prev-img">
                                <div class="thumb small-img">
                                    <img src="assets/images/small/small-1.webp" alt="" />
                                </div>
                                <div class="thumb large-img">
                                    <img src="assets/images/bottom/bottom-1.webp" alt="" />
                                </div>
                            </div>
                            <div class="bottom-image current-img">
                                <div class="thumb small-img">
                                    <img src="assets/images/small/small-2.webp" alt="" />
                                </div>
                                <div class="thumb large-img">
                                    <img src="assets/images/bottom/bottom-2.webp" alt="" />
                                </div>
                            </div>
                            <div class="bottom-image next-img">
                                <div class="thumb small-img">
                                    <img src="assets/images/small/small-2.webp" alt="" />
                                </div>
                                <div class="thumb large-img">
                                    <img src="assets/images/bottom/bottom-2.webp" alt="" />
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div class="bottom-container">
                        <div class="bottom-info">
                            <div class="bottom-headline">
                                <h3>Как экипироваться</h3>
                                <h3>1/3</h3>
                            </div>
            
                            <div class="bottom-desc">
                                Непродуваемая куртка с суперлегким утеплителем Zero Down и водоотталкивающей пропиткой ADD SHIELD.
                            </div>
                        </div>
            
                        <div class="bottom-controls">
                            <div class="bottom-left">
                                <div class="swipe-icon bottom-swipe">
                                    <img src="assets/images/swipe.png" alt="" />
                                </div>
                                <button class="bottom-btn">1</button>
                                <button class="bottom-btn">2</button>
                                <button class="bottom-btn">3</button>
                            </div>
            
                            <div class="bottom-right">
                                <button class="carousel-btn prev-btn">
                                    <img src="assets/svgs/prev-btn.svg" alt="">
                                </button>
                                <button class="carousel-btn next-btn">
                                    <img src="assets/svgs/next-btn.svg" alt="">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </body>
</html>
