html,
body {
    overflow-x: hidden;
    overflow-x: clip;
    scroll-behavior: smooth;
}

body {
    font-family: "Regular";
    min-height: 100vh;
    color: #fff;

    background-image: url('../assets/images/bg/bg.webp');
    background-size: cover; 
    background-position: top;
    background-repeat: no-repeat; 
    
}

.wrapper {
    margin-inline: auto;
    max-width: 1920px;
    padding-inline: clamp(5px, 2.5vw, 25px);
}

[x-cloak] { display: none !important; }